<div class="col-md-8 col-sm-12" ng-controller="AddClientProductController">
	<h3 class="text-warning">Add Client Product</h3>
	<form ng-submit="saveDetails();">
		<input type="text" class="form-control" ng-model="prodid" placeholder="Product Id" readonly /><br/>
		<input type="text" class="form-control prodname" ng-model="prodname" placeholder="Product Name" autofocus required />
		<div class="waitspinner"><label class="text-info">Please Wait...</label><i class="fa fa-spinner fa-pulse fa-lg text-info"></i></div><br/>
		<button type="submit" class="btn btn-success">Save Details</button>		
	</form>
</div>