<div class="col-md-11 col-sm-12" ng-controller="NonActiveDealerListController">

<h3 class="text-warning">Dealers Details <span style="float:right" class="refreshIcon"><i class="fa fa-refresh text-info" title="Refresh Data" ng-click="reload();"></i></span></h3>

<label>Search Dealer: </label> <input type="text" ng-model="searchDealer" class="searchDealer"/><br/><br/>
<table class="table table-bordered">
	<thead>
	  <tr>
		<th>#</th>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th>Contact / Alternate Contact</th>
		<th>Pincode</th>
		<th>Email</th>
		<th></th>
	  </tr>
	</thead>
	<tbody ng-init="tmpCnt=0;">
	  <tr ng-repeat="data in DealerData | filter:searchDealer" class="fullData">
		<td>{{$index+1}}</td>
		<td>{{data.Dealer_name}}</td>
		<td>{{data.Dealer_addr}}</td>
		<td>{{data.Dealer_city}}</td>
		<td>{{data.Dealer_contact}} / {{data.Dealer_alternate_contact}}</td>
		<td>{{data.pincode}}</td>
		<td>{{data.Dealer_email}}</td>
		<td>			
			<button type="button" class="btn btn-sm btn-warning" ng-click="SetCIdCname(data.Dealer_id, data.Dealer_name);" data-toggle="modal" data-target="#NonActiveModal">Activate</button>
		</td>
	  </tr>	  
	  <tr class="noData">
		<td colspan="8"> No Data Found </td>
	  </tr>
	  <tr class="loadData">
		<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
	  </tr>
	</tbody>
</table>


<!-- Small modal -->
<div class="modal fade" id="NonActiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">	
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure to Re-activate: <span class="text-info">{{tmpCname}} </span>?</h4>
      </div>
      <div class="modal-footer">		
        <button type="button" class="btn btn-primary" ng-click="reactivateDealer(tmpCid);" data-dismiss="modal">Confirm</button>
      </div>
    </div>
	</form>
  </div>
</div>

</div>