<div class="col-md-11 col-sm-12" ng-controller="PrevAttendanceController">
<h3 class="text-warning">Previous Records of Attendance</h3>	
	<ul role="tablist" class="nav nav-tabs" ng-init="tab=1">
        <li ng-class="{'active':tab==1}" role="presentation"><a ng-click="tab=1;">Track All Records</a></li>
        <li ng-class="{'active':tab==2}" role="presentation"><a ng-click="tab=2;">Track Specific Employee</a></li>        
	</ul>
	<br/>
	
	<!-- This is First Panel -->
	<div class="col-md-12 col-sm-12" ng-show="tab==1">
		<form ng-submit="filterAll();">
		<div class="col-md-3 col-sm-5">
			<label class="text-info">From Date: </label> 
			<div class='input-group date' >
				<input type='text' id='fromdtp' class="form-control" ng-model="salperday1" placeholder="From Date" required />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-5">
			<label class="text-info">To Date: </label> 
			<div class='input-group date' >
				<input type='text' id='todtp' class="form-control" ng-model="salperday1" placeholder="To Date" required/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-2">
			<br/>
			<button class="btn btn-primary">Filter</button>
		</div>
		</form>
			<div class="col-md-11 col-sm-12" ng-show="filterAllTable">
				<br/>
				<label>Search Employee: </label> <input type="text" ng-model="searchEmployee" class="searchEmployee"/><br/><br/>
				<table class="table table-bordered">
					<thead>
					  <tr>
						<th>Emp Id</th>
						<th>Name</th>
						<th>Primary Contact</th>
						<th>Designation</th>
						<th>No. of Days Present</th>
					  </tr>
					</thead>
					<tbody ng-init="tmpCnt=0;">
					  <tr ng-repeat="data in EmployeeData | filter:searchEmployee" class="fullData">
						<td>{{data.Employee_id}}</td>
						<td>{{data.Employee_name}}</td>
						<td>{{data.Employee_pcontact}}</td>
						<td>{{data.Employee_empdesig}}</td>
						<td>{{data.noOfDaysPresent}}</td>
					  </tr>
					  <tr class="noData">
						<td colspan="8"> No Data Found </td>
					  </tr>
					  <tr class="loadData">
						<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
					  </tr>
					</tbody>
				</table>
			</div>
	</div>
	
	<!-- This is Second Panel -->
	<div class="col-md-12 col-sm-12" ng-show="tab==2">
		
		<form ng-submit="filterSpecificEmp();">
		<div class="col-md-3 col-sm-4">
			<label class="text-info">From Date: </label> 
			<div class='input-group date' >
				<input type='text' id='fromSpecificdtp' class="form-control" placeholder="From Date" required />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-4">
			<label class="text-info">To Date: </label> 
			<div class='input-group date' >
				<input type='text' id='toSpecificdtp' class="form-control" placeholder="To Date" required/>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-4">
			<label class="text-info">Employee: </label> 
			<div class='input-group date' >				
				<select class="form-control" ng-model="selectedEmpName" required>
					<option ng-repeat="emp in allEmployees" value="{{emp.Employee_id}}_{{emp.Employee_name}}">{{emp.Employee_name}}</option>
				</select>
				<span class="input-group-addon">
					<span class="fa fa-male"></span>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-2">
			<br/>
			<button class="btn btn-primary">Filter</button>
		</div>
		</form>
			<div class="col-md-11 col-sm-12" ng-show="filterSpecificTable">
				<br/><br/>
				<h3>Details of :<span class="text-success">{{Employeenm}}</span></h3> 
				<table class="table table-bordered">
					<thead>
					  <tr>
						<th>Login Date</th>
						<th>Login Month</th>
						<th>Login Year</th>
						<th>In Time (dd-MMM-yyyy)</th>
						<th>Out Time (dd-MMM-yyyy)</th>
						<th>Hours Worked (HH:MM)</th>
					  </tr>
					</thead>
					<tbody ng-init="tmpCnt=0;">
					  <tr ng-repeat="data in EmployeeSpecificData" class="fullData" ng-class="{'danger': data.login_date==null && data.login_month==null}">
						<td>{{(data.login_date)!=null ? data.login_date:(data.record_date | date: 'dd')}}</td>
						<td>{{(data.login_month)!=null ? data.login_month:(data.record_date | date: 'M')}}</td>
						<td>{{(data.login_year)!=null ? data.login_year:(data.record_date | date: 'yyyy')}}</td>
						<td>{{data.login_time | date:'dd-MMM-yyyy, hh:mm:ss a'}}</td>
						<td>{{data.logout_time | date:'dd-MMM-yyyy, hh:mm:ss a'}}</td>
						<td>{{((data.logout_time - data.login_time)/(1000*60*60)) >=0 ?(data.logout_time - data.login_time)/(1000*60*60):0 |  number:2}}</td>
					  </tr>
					  <tr class="noData">
						<td colspan="8"> No Data Found </td>
					  </tr>
					  <tr class="loadData">
						<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
					  </tr>
					</tbody>
				</table>
			</div>
	<div>
</div>

<style>
.nav.nav-tabs li a{
	cursor:pointer;
}
.fullData.danger{
	background:red;
}
</style>

<script type="text/javascript">
  $(function() {  
    $('#fromdtp').datetimepicker({
		format: 'M/YYYY',
		maxDate:new Date()
	});
    $('#todtp').datetimepicker({
		format: 'M/YYYY',
		maxDate:new Date()
	});
	$("#fromdtp").on("dp.change", function (e) {		
		$('#todtp').data("DateTimePicker").minDate(e.date);
	});
	$("#todtp").on("dp.change", function (e) {		
		$('#fromdtp').data("DateTimePicker").maxDate(e.date);
	});
	
    $('#fromSpecificdtp').datetimepicker({
		format: 'M/YYYY',
		maxDate:new Date()
	});
    $('#toSpecificdtp').datetimepicker({
		format: 'M/YYYY',
		maxDate:new Date()
	});
	$("#fromSpecificdtp").on("dp.change", function (e) {		
		$('#toSpecificdtp').data("DateTimePicker").minDate(e.date);
	});
	$("#toSpecificdtp").on("dp.change", function (e) {		
		$('#fromSpecificdtp').data("DateTimePicker").maxDate(e.date);
	});
  });
  //DTP from: http://eonasdan.github.io/bootstrap-datetimepicker/
</script>